
<h1>Todo App</h1>
<label for="name">Name</label>
<input class="left-margin" type="text" #name name.value="">
<label class="left-margin" for="todo">Todo</label>
<input class="left-margin" type="text" #todoitem todoitem.value="">
<button (click)="createTodo(name.value, todoitem.value)">Create</button>
<br>
<p></p>
<label for="search">Search</label>
<input class="left-margin" type="text" #search search.value="">
<button (click)="searchTodos(search.value)">Search</button>
<h2>Items: {{count}}</h2>
<table width="100%">
  <tr> 
    <th>Name</th>
    <th>Description</th>
    <th>Complete</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td>{{todo.name}}</td>
    <td>{{todo.description}}</td>
    <td><button (click)="deleteTodo(todo.id)">Delete</button></td>
  </tr>
</table>

<router-outlet></router-outlet>